<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission08_3_12</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/nav.css" rel="stylesheet" />
</head>
<body>
    <!-- add the nav bar-->
    <nav style="font-size:17px">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="Quadrants">Tasks</a></li>
            <li><a asp-controller="Home" asp-action="AddEditTask">Add Task </a></li>
        </ul>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>



