@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Add/Edit a Task";
}

<!--Bring in the model-->
@model Mission08_3_12.Models.TaskModel



<!--Task Form-->
<center>
    <h1> Enter a task here! </h1>
    <form method="post">
        <input asp-for="TaskId" type="hidden"/>
        <div class="card border-left-primary shadow h-100 py-2" style="background-color:lightblue; padding:15px; padding-bottom:15px; padding-top:15px">
            <div class="row">
                <!--Category-->
                <div class="col">
                    <label asp-for="CategoryId" style="font-weight:bold">Category</label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value="">Select a Category</option>
                        @foreach (Category c in ViewBag.Categories)
                        {
                            <option value="@c.CategoryId">@c.CategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                    <br />
                </div>
                <!--Taskname-->
                <div class="col">
                    <label asp-for="TaskName" style="font-weight:bold">Task Name</label><br />
                    <input asp-for="TaskName" class="form-control" />
                    <span asp-validation-for="TaskName" class="text-danger"></span>
                    <br />
                </div>
            </div>
            <div class="row">
                <!--Duedate-->
                <div class="col">
                    <label asp-for="DueDate" style="font-weight:bold">Due Date</label><br />
                    <input asp-for="DueDate" class="form-control" />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                    <br />
                </div>
                <!--Quadrant-->
                <div class="col">
                    <label asp-for="Quadrant" style="font-weight:bold">Quadrant</label><br />
                    <select asp-for="Quadrant" class="form-control">
                        <option value=1>Urgent/Important</option>
                        <option value=2>Not Urgent/Important</option>
                        <option value=3>Urgent/Not Important</option>
                        <option value=4>Not Urgent/Not Important</option>
                    </select>
                    <span asp-validation-for="Quadrant" class="text-danger"></span>
                    <br />
                </div>
            </div>
            <div class="row">
                <!--Completed-->
                <div class="col">
                    <label asp-for="Completed" style="font-weight:bold">Completed</label><br />
                    <select asp-for="Completed" class="form-control">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                    <span asp-validation-for="Completed" class="text-danger"></span>
                    <br />
                </div>
            </div>
            <!--Submit-->
            <button type="submit" class="btn btn-primary btn-xl rounded-pill mt-5">Submit</button>
        </div>
    </form>
</center>