@{
    ViewData["Title"] = "Task Manager";
}

<!--
    Authors: Kimball Owen, Sawyer Halverson, Mason Frodsham, and Madison Hoyt
    Description: A program that you can add tasks and mark them off once completed.
-->
<center>
    <div>
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Task Manager</h1>

                <h4 class="masthead-subheading mb-0">Manage your life with this task manager</h4>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" style="font-size:20px" asp-area="" asp-controller="Home" asp-action="Quadrants">Tasks</a>
            </div>
        </div>
    </div>
</center>

